<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-10 offset-1" style="margin-top:20px;">
            <table id="experiment-datatable" data-source="<%= experiment_index_path(:format => :json) %>" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Gene</th>
                    <th>Description</th>
                    <th>id</th>
                </thead>
            </table>
        </div>
    </div>
</div>