<div class="container-fluid">
    <% if !current_user %> 
        <div class="row justify-content-md-center" style="margin-top:2%;">
           <h6>UCSF Multiple Sclerosis Genetics Research Laboratory Mouse Database</h6>
        </div>
        <div class="row justify-content-md-center" style="margin-top:2%;">
            <%= image_tag("lab-mouse-vector", :style => "") %>
        </div>
    <% else %>
        <%= render 'home/partials/new_cage_form' %>
        <div class="row justify-content-md-center" style="margin-top:20px;">
            <div class="col-9">
                <table id="cages-datatable" class="table table-bordered table-striped" data-source="<%= home_index_path(format: :json) %>">
                    <thead>
                        <th>Cage Number</th>
                        <th>Strain</th>
                        <th>Genotype</th>
                        <th>Location</th>
                        <th>Cage Type</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        
    <% end %>
</div>