<div class="container" style="padding-top:50px;">
    <% @locations.each do |loc|%>
        <div class="row justify-content-sm-center" style="margin-bottom:20px;">
            <div class="col-sm-6" style="border:2px solid #5bc0de;padding:2px;border-radius:5px;">
                <%= link_to loc, home_main_path(:location => loc), :class => "btn btn-block btn-primary", :style => "min-width:500px;min-height:100px;padding-top:30px;font-size:24px;" %>
            </div>
        </div>
    <% end %>
</div>