<div class="container-fluid">
    <% if !current_user %> 
        <div class="row justify-content-md-center" style="margin-top:2%;">
           <h6>UCSF Multiple Sclerosis Genetics Research Laboratory Mouse Database</h6>
        </div>
        <div class="row justify-content-md-center" style="margin-top:2%;">
            <%= image_tag("lab-mouse-vector", :style => "") %>
        </div>
    <% else %>
        <div class="row">

            <div class="col-sm-2">
                <ul class="nav nav-pills nav-justified flex-column" style="margin-top:25px;">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#sandler-cages" style="border:1px solid lightblue;">Sandler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#genentech-cages" style="border:1px solid lightblue;">Genentech Hall</a>
                    </li>
                </ul>
                <button class="btn btn-primary btn-block" style="margin-top:25px;border:1px solid black;" type="button" data-toggle="collapse" data-target="#newCageForm" aria-expanded="false">Add New Cage</button>
            </div>

            <div class="col-sm-10 tab-content">

                <%= render 'home/partials/new_cage_form' %> 

                <div class="tab-pane container active" style="margin-top:20px;" id="sandler-cages">
                    <table id="sandler-cages-datatable" class="table table-bordered table-striped" data-source="<%= home_index_path(format: :json) %>">
                        <thead>
                            <th>Cage Number</th>
                            <th>Strain</th>
                            <th>Genotype</th>
                            <th>Location</th>
                            <th>Cage Type</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane container" style="margin-top:20px;" id="genentech-cages">
                    <table id="genentech-cages-datatable" class="table table-bordered table-striped" style="width:100%;"data-source="<%= home_index_path(format: :json) %>">
                        <thead>
                            <th>Cage Number</th>
                            <th>Strain</th>
                            <th>Genotype</th>
                            <th>Location</th>
                            <th>Cage Type</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    <% end %>
</div>