<div class="container-fluid">
    <div class="row justify-content-md-center" style="margin-top:2%;">
        <div class="col-9">
            <table id="removed-mice-datatable" data-source="<%= home_removed_mouse_index_path(format: :json) %>" class='table table-bordered table-striped' >
                <thead>
                    <tr>
                        <th>Sex</th>
                        <th>Mouse ID</th>
                        <th>Ear punch</th>
                        <th>Cage</th>
                        <th>Strain</th>
                        <th>Genotype</th>
                        <th>Removed</th>
                        <th>Removed Reason</th>
                        <th>Restore</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

         </div>
    </div>
</div>