<div class="container-fluid">
    <div class="row">
        <div class="col-7 offset-2">
            <h1><%= @strain %></h1>
         </div>
    </div>
    <%= render 'home/partials/new_cage_form' %>
    <div class="row justify-content-md-center" style="margin-top:2%;">
        <div class="col-9">

            <table id="strain-datatable" data-source="<%= home_strain_path(format: :json, strain: @strain) %>" class='table table-bordered table-striped' >
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Location</th>
                        <th>Type</th>
                        <th>Contents</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

         </div>
    </div>
</div>
