<div class="container-fluid">
    <div class="row justify-content-md-center">
        <h2>Transfer Mice</h2>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-6">
            <%= form_for(@cage1, url: home_transfer_path) do |f| %>
                <div class="row">
                    <div class='form-group'>
                        <>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>