<div class="row">
    <span style="font-size:14px;padding-left:25px;padding-top:15px;padding-bottom:50px;">
        <%= link_to "Main Index", root_path %> >>> location: <%= link_to @loc, home_main_path(:location => @loc) %>
    </span>
</div>