/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "datatables";
 @import "gritter";
 @import "jquery-ui";
 
 .devise-input-form-container {
    border:1px solid skyblue;
    margin-top:15%;
    border-radius:20px;
    padding-bottom:5%;
    padding-top:5%;
    background-color:#e6f4ff;
 }
 .editableColHeader {
   background-color:lightblue;
}

.hidden {
   display:none;
}
.red-x {
   float:right;
   font-size:10px;
   color:red;
}

.green-check {
   float:right;
   font-size:20px;
   color:green;
}

.tfoot-red-x {
   font-size:10px;
   color:red;
   margin-left:20px;
}

th {
   padding-right:10px;
}

td {
   padding-right:10px;
}

@media print {
   .hide-on-print {
       display:none;
   }
}
.pupsFormLabel {
   padding-right:5px;
}
#search-results {
   display:none;
   border:1px solid lightgrey;
   min-width:200px;
   max-height:80px;
   overflow-y:scroll;
   background-color:white;
}
#search-results-list {
   list-style-type:none;
   padding-left:0;
}
.search-list-item {
   margin-left:0px;
   padding-left:3px;
   border:1px dotted lightlightgrey;
}
.deleteButton {
   background: transparent;
   border: none;
   color: #f00;
   display: inline-block;
   font-size: 12px;
   height: 16px;
   line-height: 2px;
   margin: 0 0 2px;
   margin-top: -4px;
   padding: 0;
   text-align: center;
   width: 16px;
   }