<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-10">
            <table id="archives-datatable" class="table table-bordered table-striped" data-source="<%= archive_index_path(format: :json) %>"  >
                <thead>
                    <th>Date</th>
                    <th>Time</th>
                    <th>User</th>
                    <th>Description</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>